<button class='btn btn-default' ui-sref='index'>Back</button>
<div class="container" align="center">
	<p class="text-success">
		<font size="20" style="bold">
			Go-Bag Builder
		</font>
	</p>
	<p class="text-muted"><b>Pick the most useful items to have in case of a tornado! And remember kids, <em>NOBODY WANTS TO BE UNPREPARED!</em></b></p>
</div>
<div class="container" align="center">
	<object width="850" height="550"> 
		<param name="movie" value="games/GoBagBuilder.swf"> 
		<embed src="games/GoBagBuilder.swf" width="850" height="550"> 
		</embed> 
	</object> 
</div>
