<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <br/>
  <br/>

  <div class="row">

    <div class="col-xs-3 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../images/placeholder.png">
        <p ui-sref='GoBagBuilder' class="text-center">Go Bag Builder</p>
      </a>
    </div>

    <div class="col-xs-3 col-md-3">
      <a href="#" ui-sref='DressUpGame' class="thumbnail">
        <img style="border:3px solid black" src="assets/DressUpGamePreview.png">
        <p class="text-center">Tornado Dress-Me-Up</p>
      </a>
    </div>

    <div class="col-xs-3 col-md-3">
      <a href="#" class="thumbnail">
        <img style="border:3px solid black" src="assets/puzzleGamePreview.png">
        <p ui-sref='ShelterFinder' class="text-center">Shelter Finder</p>
      </a>
    </div>

    <div class="col-xs-3 col-md-3">
      <a href="#" class="thumbnail">
        <img style="border:3px solid black" src="assets/puzzleGamePreview.png">
        <p ui-sref='SlidingTiles' class="text-center">Sliding Tiles</p>
      </a>
    </div>

  </div>


</div>