<div class="container">
  
  <div class="jumbotron" style="padding-top: -50px">
    <h1 style="text-align: center">Welcome to TornaNO!</h1>
    <img src="../images/TornaNO_home.jpg" style="max-width:100%; margin-left:auto; margin-right:auto;">
  </div>

  <br/>
  <br/>

  <div class="row">

    <div class="col-xs-3 col-md-3">
      <a href="#" ui-sref='GoBagBuilder' class="thumbnail">
        <img src="../images/placeholder.png">
        <p class="text-center">Go Bag Builder</p>
      </a>
    </div>

    <div class="col-xs-3 col-md-3">
      <a href="#" ui-sref='DressUpGame' class="thumbnail">
        <img style="border:3px solid black" src="assets/DressUpGamePreview.png">
        <p class="text-center">Tornado Dress-Me-Up</p>
      </a>
    </div>

    <div class="col-xs-3 col-md-3">
      <a href="#" ui-sref='ShelterFinder' class="thumbnail">
        <img style="border:3px solid black" src="assets/ShelterFinderPreview.png">
        <p class="text-center">Shelter Finder</p>
      </a>
    </div>

    <div class="col-xs-3 col-md-3">
      <a href="#" ui-sref='SlidingTiles' class="thumbnail">
        <img style="border:3px solid black" src="assets/puzzleGamePreview.png">
        <p class="text-center">Sliding Tiles</p>
      </a>
    </div>

  </div>

  <br/>
  <p style="text-align:justify;">Since the advent of life on earth, natural disasters have been a tragedy with which organisms have had to struggle. Particularly in the area in which we live, Oklahoma, tornadoes have plagued citizens for decades. Several thousands have lost property, loved ones, and their own lives. Certainly, the initiative of various organizations and people to alleviate these struggles is a wonderful thing. We believe, however, that education is the most important factor in the effort to minimize the loss of lives and property. Our mission with TornaNO! is to provide a fun, interactive gamification of tornado education.</p>
  <br/>

</div>