<div class="container">
  
  <div class="jumbotron">
    <h1>Welcome to TornaNO!</h1>
    <img src="../images/placeholder.png">
  </div>

  <br/>
  <br/>

  <div class="row">

    <div class="col-xs-3 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../images/placeholder.png">
        <p ui-sref='GoBagBuilder' class="text-center">Go Bag Builder</p>
      </a>
    </div>

    <div class="col-xs-3 col-md-3">
      <a href="#" ui-sref='DressUpGame' class="thumbnail">
        <img style="border:3px solid black" src="assets/dressup_preview2.png">
        <p class="text-center">Tornado Dress-Me-Up</p>
      </a>
    </div>

    <div class="col-xs-3 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../images/placeholder.png">
        <p ui-sref='ShelterFinder' class="text-center">Shelter Finder</p>
      </a>
    </div>

    <div class="col-xs-3 col-md-3">
      <a href="#" class="thumbnail">
        <img src="../images/placeholder.png">
        <p ui-sref='SlidingTiles' class="text-center">Sliding Tiles</p>
      </a>
    </div>

  </div>

  <p>Since the advent of life on earth, natural disasters have been a tragedy with which organisms have had to struggle. Particularly in the area in which we live, Oklahoma, tornadoes have plagued citizens for decades. Several thousands have lost property, loved ones, and their own lives. Certainly, the initiative of various organizations and people to alleviate these struggles is a wonderful thing.</p>


</div>