<button class='btn btn-default' ui-sref='index'>Back</button>
<div class="container" align="center">
	<p class="text-success">
		<font size="20" style="bold">
			Shelter Finder
		</font>
	</p>
	<p class="text-muted"><b>Dress in your most tornado appropriate clothes! And remember kids, <em>PUT ON THAT HELMET!</em></b></p>
</div>
<div class="container" align="center">
	<object width="850" height="550"> 
		<param name="movie" value="games/ShelterFinder.swf"> 
		<embed src="games/ShelterFinder.swf" width="850" height="550"> 
		</embed> 
	</object> 
</div>
